body, h1,
h3, h4, h6 {
  font-family: "Open Sans", sans-serif;
}

h2, h5, nav {
  font-family: "Oswald", sans-serif;
}

.transbox {
  margin-left: 150px;
  margin-right: 150px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  opacity: 0.9;
  border-radius: 25px;
}

.col-md-9 {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 100px;
  border-radius: 15px;
}

.col-md-12 {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 100px;
  border-radius: 15px;
}

.col-md-4 {
  padding-top: 20px;
  border-radius: 15px;
  margin-bottom: 100px;
}

#headerCenter {
  text-align: center;
}

#portfolioImg {
  width: 250px;
  height: 80px;
  border-radius: 15px;
}

.cardBtn {
  margin-left:130px;
  margin-right:130px;
}

#profImg {
border-radius: 40px;
}

#githubBtn,
#linkedinBtn {
  float: left;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}