body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6, nav {
  font-family: "Oswald", sans-serif;
}

.transbox {
  margin: 50px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  opacity: 0.9;
  border-radius: 25px;
}

.transboxPortfolio {
  margin: 150px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  opacity: 0.9;
  border-radius: 25px;
}

.col-md-9 {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 100px;
  border-radius: 15px;
}

.col-md-12 {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 100px;
  border-radius: 15px;
}

.col-md-4 {
  padding-top: 20px;
  border-radius: 15px;
  margin-bottom: 100px;
}

#prof-pic {
  height: 250px;
  float: left;
  margin-right: 20px;
  margin-left: 20px;
}

body, h4,
h5 {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h6, nav {
  font-family: "Oswald", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#projectImg {
  width: 250px;
  height: 80px;
  border-radius: 15px;
}

.cardBtn {
  margin-left:130px;
  margin-right:130px;
}

#githubBtn,
#linkedinBtn {
  float: left;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}